body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #595959;
}

.main-header {
    padding-top: 25px;
}

.main-header__logo {
    position: relative;
    img {
        display: block;
    }
}

.main-header__search {
    input[type="search"] {
        margin-top: 15px;
        padding: 14px 45px 14px 20px;
        font-weight: lighter;
        font-size: 14px;
        color: #4b4b4b;
        outline: none;
        border: none;
        border-radius: 4px;
        box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.15);
        transition: all 0.25s ease-out;
        &:hover,
        &:focus {
            box-shadow: inset 0 0 1px 1px #0097e5;
        }
    }
    input[type="image"] {
        position: relative;
	    vertical-align: middle;
        left: -45px;
    }
}

.main-header__info {
    width: 100%;
    a {
        display: block;
        margin-top: 5px;
        font-size: 14px;
        text-decoration: underline;
        color: #0097e5;
        transition: all 0.25s ease-out;
        &:hover {
            text-decoration: none;
            color: #333333;
        }
    }
}

.main-header__info_email {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    text-decoration: underline;
    color: #0097e5;
}

.main-header__info_work {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #4b4b4b;
}

.main-header__call {
    margin-top: -7px;
    span {
        display: inline-block;
        font-weight: bold;
        font-size: 22px;
        color: #4b4b4b;
    }
    a {
        display: inline-block;
        margin-top: 5px;
        padding: 14px 16px;
        border: 1px solid #0097e5;
        border-radius: 2px;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #0097e5;
        background-color: transparent;
        transition: all 0.25s ease-out;
        &:hover {
            background-color: #0097e5;
            text-decoration: none;
            color: #ffffff;
        }
    }
}

.main-header__nav {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    background-color: #3b3b3b;
    color: #ffffff;
}

.main-header__menu {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: auto;
}

.main-header__nav_line {
    display: block;
    height: 10px;
    border-left: 1px solid #757373;
}

.main-slider {
    padding-top: 25px;
    padding-bottom: 25px;
}

.main-slider__nav {
    display: block;
    a {
        display: block;
        margin-bottom: 6px;
        padding: 31px;
        background-color: #ffffff;
        font-weight: bold;
        font-size: 14px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #0097e5;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
        transition: all 0.25s ease-out;
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: #ffffff;
            background-color: #0097e5;
            box-shadow: none;
        }
    }
}

.main-slider__this {
    padding-left: 20px;
}

.main-products {
    padding-bottom: 50px;
}

.main-products__card {
    display: block;
    padding: 35px 30px;
    border: 1px solid #efefef;
    border-radius: 3px;
    text-align: center;
    transition: all 0.25s ease-out;
    img {
        display: block;
        width: 100%;
        height: 125px;
        object-fit: contain;
    }
    span {
        display: block;
        margin-top: 20px;
        font-weight: bold;
        font-size: 14px;
        color: #595959;
    }
    &:hover {
        border-color: #0097e5;
        text-decoration: none;
    }
}

.main-title {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #595959;
}

.main-about {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #3b3b3b;
}

.main-about__image {
    display: block;
    width: 100%;
    max-height: 410px;
    object-fit: cover;
}

.main-about__text {
    padding-left: 20px;
    font-size: 14px;
    color: #ffffff;
    span {
        font-weight: bold;
        text-transform: uppercase;
    }
    p {
        margin-top: 30px;
        line-height: 1.5;
    }
}

.main-clients {
    padding-top: 25px;
    padding-bottom: 50px;
}

.main-clients__card {
    display: block;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.main-news {
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: #f9f9f9;
}

.main-news__cards {
    display: block;
    a {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        text-decoration: underline;
        color: #0097e5;
        transition: all 0.25s ease-out;
        &:hover {
            text-decoration: none;
            color: #333333;
        }
    }
    p {
        font-size: 14px;
        color: #595959;
    }
}

.main-article {
    padding-top: 60px;
    padding-bottom: 60px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #595959;
    }
    p {
        font-size: 14px;
        line-height: 1.5;
        color: #595959;
    }
}

.main-footer {
    padding-top: 35px;
    padding-bottom: 60px;
    color: #ffffff;
    background-color: #3b3b3b;
}

.main-footer__creators {
    display: block;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    a {
        text-decoration: underline;
        color: #d54a53;
        transition: all 0.25s ease-out;
        &:hover {
            text-decoration: none;
            color: #0097e5;
        }
    }
}

.main-breadcrump {
    padding-top: 25px;
    padding-bottom: 25px;
    a {
        font-size: 14px;
        text-decoration: underline;
        color: #7b7978;
        transition: all 0.25s ease-out;
        &:hover {
            text-decoration: none;
            color: #333333;
        }
    }
    span {
        font-size: 14px;
        color: #7b7978;
    }
}

.main-content-sidebar {
    padding-right: 30px;
    padding-bottom: 50px;
}

.main-content-sidebar__nav {
    a {
        display: block;
        margin-top: 6px;
        margin-bottom: 6px;
        font-size: 14px;
        list-style: circle;
        color: #3d3d3d;
        transition: all 0.25s ease-out;
        &:hover {
            text-decoration: none;
            color: #0097e5;
        }
    }
    -webkit-padding-start: 0 !important;
    ul {
        li {
            list-style: square;
        }
    }
}

.main-content-sidebar__nav > li {
    list-style: none;
}

.main-content-sidebar__nav_title {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3d3d3d;
    &:active,
    &:focus {
        text-decoration: none;
    }
}

.main-content-sidebar__nav_title:first-child {
    margin-top: 0;
}

.main-content__product {
    width: 100%;
}

.main-content__product_title {
    display: block;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3d3d3d;
}

.main-content__product_img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.main-content__product_description {
    font-size: 14px;
    color: #676767;
    line-height: 1.5;
}

.product__price {
    display: inline-flex;
    margin-top: 10px;
    padding: 30px 50px;
    border: 1px dashed #999999;
    text-align: center;
    span {
        display: inline-block;
        margin-right: 20px;
        font-weight: bold;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #434444;
    }
    a {
        display: inline-block;
        padding: 14px 30px;
        background-color: #0097e5;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #ffffff;
        transition: all 0.2s ease-out;
        &:hover {
            background-color: #333333;
            text-decoration: none;
            color: #ffffff;
        }
    }
}

.product__text {
    padding-top: 25px;
    padding-bottom: 50px;
    font-size: 14px;
    color: #434444;
}

.product__text_title {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #434444;
}

.catalog__title {
    display: block;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3d3d3d;
}

.catalog__categories {

}

.catalog__categories_card {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: 5px solid #f0f0f0;
    transition: all 0.2s ease-out;
    img {
        width: 110px;
        height: 110px;
        object-fit: cover;
    }
    span {
        margin-left: 20px;
        font-weight: bold;
        font-size: 14px;
        color: #676767;
    }
    &:hover {
        text-decoration: none;
        border-color: #ffffff;
        box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.2);
    }
}

.catalog-products__card {
    display: block;
    margin-top: 15px;
    padding: 20px 30px;
    border: 1px solid #ebebeb;
    transition: all 0.2s ease-out;
    img {
        width: 100%;
        height: 170px;
        object-fit: contain;
    }
    span {
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        color: #434444;
    }
    &:hover {
        border-color: #ffffff;
        box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.2);
    }
}

.catalog-products__card_title {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #0097e5;
}

.catalog-products__card_more {
    display: block;
    margin-top: 10px;   
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #0097e5;
}

.catalog-products__pagination {
    display: block;
    padding-top: 15px;
    padding-bottom: 40px;
    padding-right: 10px;
    text-align: right;
    a {
        display: inline-block;
        margin: 5px;
        padding: 10px 15px;
        border: 1px solid #d5d5d5;
        background-color: #ffffff;
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            background-color: #f2f2f2;
        }
    }
}

.catalog-products__pagination_active {
    border-color: #0097e5 !important;
}

.projects__title {
    display: block;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #676767;
}

.projects__name {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #676767;
}

.projects__card {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 30px;
    border: 1px solid #e9e9e9;
    text-align: center;
    transition: all 0.2s ease-out;
    img {
        display: block;
        width: 100%;
        height: 110px;
        object-fit: cover;
    }
    span {
        display: block;
        margin-top: 25px;
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 14px;
        color: #676767;
    }
    a {
        display: block;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #0097e5;
    }
    &:hover {
        border-color: #ffffff;
        box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.2);
    }
}

.sidebar__menu {
    display: block;
    a {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #3d3d3d;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: #0097e5;
        }
    }
    a:first-child {
        margin-top: 0;
    }
}

.sidebar__menu_active {
    color: #0097e5 !important;
}

.article {
    font-size: 14px;
    color: #676767;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        color: #676767;
    }
}

.product_loop {
    display: block;
    width: 100%;
    position: absolute;
    top: 40%;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.2s ease-out;
    }
    &:hover {
        img {
            transform: scale(1.2);
        }
    }
}

.projects_padding {
    padding-bottom: 50px;
}

.main-content-sidebar__nav {
    ul {
        color: #0097e5;
        li {
            color: #0097e5;
        }
    }
}