@media (max-width: 1200px) {

    .main-header__search {
        input[type="search"] {
            width: 200px;
        }
    }
    
    .main-header__logo {
        img {
            width: 290px;
            margin-top: 5px;
        }
    }

    .main-header__call {
        span {
            font-size: 18px;
        }
        a {
            padding: 8px 10px;
        }
    }

    .main-slider__nav {
        a {
            padding: 22px;
        }
    }

    .catalog__categories_card {
        flex-flow: column wrap;
    }

}

@media (max-width: 992px) {

    .main-header__search {
        input[type="search"] {
            display: inline-block;
            margin-left: 5%;
            margin-right: auto;
            width: 90%;
        }
    }

    .main-header__logo {
        img {
            max-width: 290px;
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .main-header__info {
        text-align: center;
        a {
            display: inline-block;
            margin: 10px;
        }
    }

    .main-header__info_email {
        display: inline-block;
        margin: 10px;
    }

    .main-header__info_work {
        display: inline-block;
        margin: 10px;
    }

    .main-header__call {
        text-align: center;
        span {
            margin-left: 5px;
            margin-right: 5px;
        }
        a {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .nav > li > a {
        padding: 20px 10px;
    }

    .main-slider__nav {
        a {
            padding: 10px 20px;
        }
    }

    .main-about__text {
        padding-top: 30px;
    }

}

@media (max-width: 768px) {

    .navbar-toggle {
        margin: 0 auto;
        padding: 0;
        float: none;
        margin-left: 47%;
    }

    .main-header__logo {
        display: block;
        img {
            display: block;
            width: 80%;
            margin-top: auto;
            margin-left: auto;
        }
    }

    .main-header__search {
        input[type="search"] {
            display: inline-block;
            margin-left: 10%;
            margin-right: auto;
            width: 80%;
        }
    }

    .navbar-nav {
        flex-flow: column wrap;
    }

    .nav > li > a {
        padding: 10px 10px;
    }

    .dropdown-menu {
        text-align: center;
    }

    .main-slider__nav {
        a {
            padding: 15px;
            text-align: center;
        }
    }

    .main-slider__this {
        padding-left: 0;
    }

    .main-header__info {
        display: none;
    }

    .main-header__call {
        padding-top: 20px;
    }

    .main-slider {
        padding-top: 10;
    }

    .product__price {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-flow: column wrap;
    }

    .catalog__categories_card {
        flex-flow: row nowrap;
        margin-bottom: 10px;
    }

    .catalog-products__pagination {
        text-align: center;
    }
    
    .carousel-caption {
        max-width: 100%;
        top: auto;
        left: 0;
        bottom: 0;
        padding: 10px;
    }

    .carousel-caption__title {
        font-size: 16px;
    }

    .carousel-caption__ul {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .sidebar__menu {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-breadcrump {
        padding-left: 20px;
        padding-right: 20px;
    }

    .projects__title {
        padding-left: 20px;
        padding-right: 20px;
    }

    .projects__name {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-content-sidebar__nav {
        a {
            margin-left: 20px;
        }
    }

    .catalog__title {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-content__product_title {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-content__product_description {
        padding-left: 20px;
        padding-right: 20px;
    }

    .product__text_title {
        padding-left: 20px;
        padding-right: 20px;
    }

    .product__text {
        padding-left: 20px;
        padding-right: 20px;
    }

    .article {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (min-width: 768px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;    
    }
}