.navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: none;
}

.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
}

.nav > li > a {
    padding: 25px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.25s ease-out;
    &:hover,
    &:active,
    &:focus {
        background-color: transparent;
        color: #0097e5;
    }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border: none;
    background-color: transparent;
}

.dropdown-menu {
    min-width: 240px;
    top: 94%;
    left: -25px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    li {
        margin-bottom: 1px;
        background-color: #3b3b3b;
        color: #ffffff;
        border: 1px solid transparent;
        transition: all 0.25s ease-out;
        &:hover {
            background-color: #424242;
        }
    }
}

.dropdown-menu > li > a {
    padding: 20px 30px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    transition: all 0.25s ease-out;
    &:hover {
        background-color: transparent;
        color: #0097e5;
    }
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    max-height: 530px;
    object-fit: cover;
}

.carousel {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#owl-products .item{
  margin: 10px;
}

.owl-theme .owl-controls {
    margin-top: 0;
}

.owl-theme .owl-controls .owl-page span {
    width: 8px;
    height: 8px;
    background-color: #0097e5;
}

.carousel-caption {
    max-width: 350px;
    top: 15%;
    bottom: auto;
    left: auto;
    right: 0;
    padding: 50px 25px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: left;
}

.carousel-caption__title {
    display: block;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.carousel-caption__ul {
    display: block;
    margin-top: 25px;
    margin-left: 15px;
    span {
        display: block;
        margin: 5px;
        font-size: 14px;
        color: #ffffff;
        img {
            margin-right: 5px;
        }
    }
}